@model RESTauranter.Models.ReviewViewModel
<h1>Write a new Review:</h1>
<form asp-controller="Home" asp-action="AddReview" method="post">
    <label asp-for="reviewer"></label>
    <input asp-for="reviewer">
    <span asp-validation-for="reviewer"></span>
    <label asp-for="restaurant"></label>
    <input asp-for="restaurant">
    <span asp-validation-for="restaurant"></span>
    <label asp-for="stars"></label>
    <select asp-for="stars">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <span asp-validation-for="stars"></span>
    <label asp-for="reviewtext"></label>
    <textarea asp-for="reviewtext" cols="30" rows="10"></textarea>
    <span asp-validation-for="reviewtext"></span>
    <label asp-for="visitdate"></label>
    <input type="date" asp-for="visitdate">
    <span asp-validation-for="visitdate"></span>
    <input type="submit" value="Submit">
</form>
<button><a href="/review/all/">Click Here to See All Current Reviews</a></button>